html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  div {
      width: 20vw;
      height: 20vw;
      opacity: 50%;
      margin: 0;
  }
 p {
       color: white;
       opacity: 100%;
       font-size: medium;
  }
  #page-credit {
    position: absolute;
    bottom: 10vh;
    left: 5vh;
    z-index: 1;
    font-weight: 900;
  }
  #music-credit {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    z-index: 1;
    font-weight: 500;
  }
